<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jdrx.cnms.dao.DailyRemarkMapper">

  <!-- 更新警告等级 -->
  <!-- 更新 -->
  <update id="updateRemark" parameterType="com.jdrx.cnms.bean.dto.RemarkDTO">
    UPDATE important_indicators_daily SET
    speed_av_cmnet = #{speed_av_cmnet},
    speed_av__thirdparty = #{speed_av__thirdparty},
    speed_av_tietong = #{speed_av_tietong},
    speed_av_resource_local = #{speed_av_resource_local},
    speed_av_jlyd = #{speed_av_jlyd},
    speed_av_mobile = #{speed_av_mobile},
    speed_av_cpe = #{speed_av_cpe},
    speed_av_special_line = #{speed_av_special_line},
    speed_av_user_tietong = #{speed_av_user_tietong},
    speed_av_wlan = #{speed_av_wlan},
    speed_av_familywide = #{speed_av_familywide},
    speed_av_cache = #{speed_av_cache},
    speed_av_idc = #{speed_av_idc},
    rate_fuwulocal_idc = #{rate_fuwulocal_idc},
    speed_av_cdn = #{speed_av_cdn},
    speed_fuwulocal_cdn = #{speed_fuwulocal_cdn},
    speed_av_other_yd = #{speed_av_other_yd},
    speed_av_bnet = #{speed_av_bnet},
    speed_av_international = #{speed_av_international},
    speed_av_bnet_settlement = #{speed_av_bnet_settlement},
    ratio_exceed_cmnet = #{ratio_exceed_cmnet},
    ratio_abnorma_cmnet = #{ratio_abnorma_cmnet},
    ratio_flows_pay = #{ratio_flows_pay},
    ratio_bnet_p2p = #{ratio_bnet_p2p},
    ratio_flows_video_busy = #{ratio_flows_video_busy},
    ratio_flows_communication_busy = #{ratio_flows_communication_busy},
    speed_peak_bnet = #{speed_peak_bnet},
    delay_bnet_networklayer = #{delay_bnet_networklayer},
    rate_lostpacket = #{rate_lostpacket},
    surate_show_web_bnet = #{surate_show_web_bnet},
    delay_web_bnet = #{delay_web_bnet},
    rate_flows_local = #{rate_flows_local},
    rate_re_local = #{rate_re_local},
    rate_re_local_mobile = #{rate_re_local_mobile},
    rate_content_loacl = #{rate_content_loacl},
    rate_content_loacl_cache = #{rate_content_loacl_cache},
    rate_accurate_scheduling = #{rate_accurate_scheduling},
    ratio_flows_cdn_cdn = #{ratio_flows_cdn_cdn},
    ratio_flows_cdn_jlyd = #{ratio_flows_cdn_jlyd},
    rate_bandwidth_cmnet = #{rate_bandwidth_cmnet},
    rate_bandwidth_area = #{rate_bandwidth_area},
    ratio_link_hload = #{ratio_link_hload},
    peak_dns_re = #{peak_dns_re},
    mean_dns_re = #{mean_dns_re},
    parsing_rate_su = #{parsing_rate_su},
    ratio_cache_huawei_small = #{ratio_cache_huawei_small},
    ratio_cache_huawei_big = #{ratio_cache_huawei_big},
    count_caton_iqiyi = #{count_caton_iqiyi},
    delay_load_iqiyi = #{delay_load_iqiyi},
    delay_caton_iqiyi = #{delay_caton_iqiyi},
    count_caton_letv = #{count_caton_letv},
    delay_load_letv = #{delay_load_letv},
    delay_caton_letv = #{delay_caton_letv},
    count_caton_youku = #{count_caton_youku},
    delay_load_youku = #{delay_load_youku},
    delay_caton_youku = #{delay_caton_youku},
    count_caton_tencent = #{count_caton_tencent},
    delay_load_tencent = #{delay_load_tencent},
    delay_caton_tencent = #{delay_caton_tencent},
    delay_fist_web_top100 = #{delay_fist_web_top100},
    rate_conform_web_top100 = #{rate_conform_web_top100},
    delay_fist_web_top20 = #{delay_fist_web_top20},
    rate_conform_web_top20 = #{rate_conform_web_top20},
    count_caton_video_top10 = #{count_caton_video_top10},
    ratio_delay_load_video_top10 = #{ratio_delay_load_video_top10},
    count_caton_video_top10_pc = #{count_caton_video_top10_pc},
    ratio_delay_load_video_top10_pc = #{ratio_delay_load_video_top10_pc},
    count_caton_video_top10_mb = #{count_caton_video_top10_mb},
    ratio_delay_load_video_top10_mb = #{ratio_delay_load_video_top10_mb},
    delay_ping_game_top5 = #{delay_ping_game_top5},
    rate_lostpacket_game_top5 = #{rate_lostpacket_game_top5},
    shake_game_top5 = #{shake_game_top5},
    delay_first_financial_top10 = #{delay_first_financial_top10},
    delay_idc = #{delay_idc},
    lostpacket_idc = #{lostpacket_idc},
    shake_idc = #{shake_idc},
    lostpacket_link_bras = #{lostpacket_link_bras},
    shake_link_bras = #{shake_link_bras},
    delay_play_migu = #{delay_play_migu},
    count_caton_migu = #{count_caton_migu},
    ratio_delay_migu = #{ratio_delay_migu},
    speed_download_mm = #{speed_download_mm},
    lostpacket_thirdparty = #{lostpacket_thirdparty},
    delay_thirdparty = #{delay_thirdparty},
    rate_chinanetcenter = #{rate_chinanetcenter},
    rate_chinanetcenter_2 = #{rate_chinanetcenter_2},
    delay_chinanetcenter = #{delay_chinanetcenter},
    delay_chinanetcenter_2 = #{delay_chinanetcenter_2},
    count_ntv_online = #{count_ntv_online},
    count_ntv = #{count_ntv},
    count_homenet = #{count_homenet},
    count_homenet_cmcc = #{count_homenet_cmcc},
    count_user_peak_3a_changchun = #{count_user_peak_3a_changchun},
    count_user_peak_3a_jilin = #{count_user_peak_3a_jilin},
    count_user_peak_3a_siping = #{count_user_peak_3a_siping},
    count_user_peak_3a_liaoyuan = #{count_user_peak_3a_liaoyuan},
    count_user_peak_3a_tonghua = #{count_user_peak_3a_tonghua},
    count_user_peak_3a_baishan = #{count_user_peak_3a_baishan},
    count_user_peak_3a_songyuan = #{count_user_peak_3a_songyuan},
    count_user_peak_3a_baicheng = #{count_user_peak_3a_baicheng},
    count_user_peak_3a_yanbian = #{count_user_peak_3a_yanbian},
    utilization_bras_changchun = #{utilization_bras_changchun},
    utilization_bras_jilin = #{utilization_bras_jilin},
    utilization_bras_siping = #{utilization_bras_siping},
    utilization_bras_liaoyuan = #{utilization_bras_liaoyuan},
    utilization_bras_tonghua = #{utilization_bras_tonghua},
    utilization_bras_baishan = #{utilization_bras_baishan},
    utilization_bras_songyuan = #{utilization_bras_songyuan},
    utilization_bras_baicheng = #{utilization_bras_baicheng},
    utilization_bras_yanbian = #{utilization_bras_yanbian},
    remark = #{remark},
    editTime = #{editTime},
    editor = #{editor}
    where iid_id=#{id}
  </update>









</mapper>